<a href="https://colab.research.google.com/github/ilkeronalan/ENM377-Bilgisayar-Destekli-Istatistik/blob/master/T_Test_Ba%C4%9F%C4%B1ml%C4%B1_Hipotez_Testi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# T-Test Bağımlı Tek Örneklem Uygulaması

**Kütüphaneleri Tanımlıyoruz**

[Statistical functions (scipy.stats)](https://docs.scipy.org/doc/scipy/reference/stats.html
)

`scipy.stats.ttest_rel`

*   *SciPy, optimizasyon, doğrusal cebir, entegrasyon, enterpolasyon, özel fonksiyonlar, FFT, sinyal ve görüntü işleme, ODE çözücüler ve bilim ve mühendislikte yaygın olan diğer görevler için modüller içerir.*

*   *SciPy Kütüphanesinin Stats Alt Kütüphanesinin içerisinden ttest_rel fonkisonunu import ediyoruz.*

---

`import numpy as np`


*   *NumPy kütüphanesini import edip "np" kısaltmasıyla kullanılacak şekilde tanımladık.*

*   *NumPy, Python programlama dili için bir kütüphanedir; büyük, çok boyutlu diziler ve matrisler için destek ekler ve bu dizilerde çalışacak geniş bir üst düzey matematiksel işlev koleksiyonu sunar.*

---

`import pandas as pd`

*   *Pandas kütüphanesini import edip "pd" kısaltmasıyla kullanılacak şekilde tanımladık.*

*   *Pandas, veri işleme ve analizi için yazılmış bir kütüphanedir.*

In [0]:
from scipy.stats import ttest_rel
import numpy as np
import pandas as pd



---


Google Colab ortamına bilgisayarınızdan veri dosyasının çekilmesini sağlayan kodumuz.

In [0]:
from google.colab import files
uploaded = files.upload()

Saving Sample_Dataset_2014.csv to Sample_Dataset_2014.csv



---


`"CSV" formatında aldığımız verisetimiz olan iris.csv dosyasının Pandas aracılığı ile okunarak "verisetim" değişkenine matris olarak tanımlanmıştır.`

In [0]:
verisetim = pd.read_csv('Sample_Dataset_2014.csv')
print(verisetim)

       ids        bday  enrolldate  ... CommuteTime SleepTime StudyTime
0    43783   3/22/1995              ...                     7         1
1    20278    1/1/1995              ...                     5         2
2    20389  12/31/1994              ...                     8         7
3    22820   12/1/1994              ...                     2         6
4    24559  11/10/1994              ...                     7         3
5    28980   9/17/1994              ...                     8         3
6    33312   7/27/1994              ...                     9         9
7    40274    5/3/1994              ...                     8         3
8    40390   4/30/1994              ...          26                   3
9    28942   9/17/1993              ...          13         2        15
10   29045   9/17/1993              ...          20         1         6
11   35676   6/27/1993              ...                     4         0
12   38764   5/22/1993              ...          29         4         2
13   39796    5/8/1993              ...          38         4         2
14   41092   4/23/1993              ...                     4        11
15   43344   3/26/1993              ...                     9
16   49688    1/8/1993              ...                    13
17   37701    6/2/1992              ...                     6         1
18   44116   3/16/1992              ...                     5        15
19   25871  10/26/1991              ...          27         4
20   26154  10/22/1991              ...          21         2         7
21   41291   4/21/1991              ...          24         9         6
22   46752   2/13/1991              ...                     3         9
23   20183    1/3/1991              ...          34         6         5
24   23643  11/22/1990              ...          33         5         6
25   40303    5/2/1990              ...          20         3         4
26   27496   10/6/1988              ...          10         3        11
27   26582                          ...                     3        12
28   46919                          ...          21         3         6
29   20230    1/2/1996  4-Aug-2014  ...                     8         3
..     ...         ...         ...  ...         ...       ...       ...
405  37713    6/4/1990  1-Aug-2011  ...          23         3
406  39415   5/13/1990  1-Aug-2011  ...          20         5         9
407  40313    5/3/1990  1-Aug-2011  ...          29         3        12
408  41168   4/23/1990  1-Aug-2011  ...          24         4        10
409  41165   4/21/1990  1-Aug-2011  ...          23         8         6
410  42826    4/3/1990  1-Aug-2011  ...          53         5         5
411  43676   3/21/1990  1-Aug-2011  ...          37         3
412  44968    3/9/1990  1-Aug-2011  ...          28         3        10
413  45928   2/22/1990  1-Aug-2011  ...          38         5        10
414  46439   2/16/1990  1-Aug-2011  ...           9         6        13
415  48958   1/17/1990  1-Aug-2011  ...          31         8         7
416  49572    1/9/1990  1-Aug-2011  ...          31         7         7
417  21254  12/21/1989  1-Aug-2011  ...          31         8         9
418  23037  11/29/1989  1-Aug-2011  ...          32         4         4
419  23340  11/26/1989  1-Aug-2011  ...          19         4         8
420  24362  11/13/1989  1-Aug-2011  ...          22         6         8
421  28328   9/26/1989  1-Aug-2011  ...          15         2         3
422  30139    9/4/1989  1-Aug-2011  ...          13         3        14
423  32380    8/8/1989  1-Aug-2011  ...          27                  16
424  35269    7/4/1989  1-Aug-2011  ...          24         4        11
425  38872   5/19/1989  1-Aug-2011  ...          32         4        23
426  39413   5/12/1989  1-Aug-2011  ...          32
427  45256    3/3/1989  1-Aug-2011  ...          31         7
428  48529   1/21/1989  1-Aug-2011  ...          27         0
429  36563   6/17/1988  1-Aug-2011  ...          27         5        12
430  34021   7/18/1987  1-Aug-2011  ...          18         1        10
431  40697   4/29/1987  1-Aug-2011  ...          26         6        15
432  34272              1-Aug-2011  ...          29         6        10
433  33628              1-Aug-2011  ...          14         4        10
434  39298              1-Aug-2011  ...          27         2        10

[435 rows x 23 columns]

In [0]:
verisetim.head()

     ids        bday enrolldate  ... CommuteTime SleepTime StudyTime
0  43783   3/22/1995             ...                     7         1
1  20278    1/1/1995             ...                     5         2
2  20389  12/31/1994             ...                     8         7
3  22820   12/1/1994             ...                     2         6
4  24559  11/10/1994             ...                     7         3

[5 rows x 23 columns]



---

"verisetim" içerisindeki tüm sınıfların ortalamalarını Numpy kütüphanesi içerisinde bulunan mean fonksiyonu (np.mean) aracılığı ile sınıfların ortalamasını alıyoruz.

In [0]:
verisetim_ortalama = np.mean(verisetim)
print(verisetim_ortalama)

ids        3.527902e+04
Rank                inf
Athlete    4.229885e-01
dtype: float64

In [0]:
ttest_rel(verisetim["ids"], verisetim["Athlete"])

Ttest_relResult(statistic=85.18348673375725, pvalue=4.808177822351502e-273)

In [0]:
pairedSample_result = ttest_rel(verisetim["ids"], verisetim["Athlete"])

data = {'DF':[verisetim["ids"].count() + verisetim["Athlete"].count() - 2], 
        'Test Statistic':[pairedSample_result[0]], 
        'p-Value':[pairedSample_result[1]]}

result = pd.DataFrame(data)
result

    DF  Test Statistic        p-Value
0  868       85.183487  4.808178e-273